In [2]:
import pandas as pd

In [6]:
Pharma = pd.read_csv('pharmaspend1.csv')

In [7]:
Pharma.head()

,Unnamed: 0,Years,Continent,Country,Capital,Latitude,Longditude,Percent_of_Health_Spending,Percent_of_GDP,USD_per_Capita,Total_Spending_in_Millions_USD
0,0,1971,Oceania,AUS,Canberra,-35.266667,149.133333,15.992,0.727,35.720,462.11
1,1,1972,Oceania,AUS,Canberra,-35.266667,149.133333,15.091,0.686,36.056,475.11
2,2,1973,Oceania,AUS,Canberra,-35.266667,149.133333,15.117,0.681,39.871,533.47
3,3,1974,Oceania,AUS,Canberra,-35.266667,149.133333,14.771,0.755,47.559,652.65
4,4,1975,Oceania,AUS,Canberra,-35.266667,149.133333,11.849,0.682,47.561,660.76

In [26]:
Pharma = Pharma.drop('Unnamed: 0', axis=1)

In [27]:
Pharma1 = Pharma.set_index(keys = "Years", inplace=False)

In [28]:
Pharma1.head()

,Continent,Country,Capital,Latitude,Longditude,Percent_of_Health_Spending,Percent_of_GDP,USD_per_Capita,Total_Spending_in_Millions_USD
Years,,,,,,,,,
1971,Oceania,AUS,Canberra,-35.266667,149.133333,15.992,0.727,35.720,462.11
1972,Oceania,AUS,Canberra,-35.266667,149.133333,15.091,0.686,36.056,475.11
1973,Oceania,AUS,Canberra,-35.266667,149.133333,15.117,0.681,39.871,533.47
1974,Oceania,AUS,Canberra,-35.266667,149.133333,14.771,0.755,47.559,652.65
1975,Oceania,AUS,Canberra,-35.266667,149.133333,11.849,0.682,47.561,660.76

In [29]:
Oceania = Pharma1.loc[Pharma1["Continent"] == "Oceania"]

,Continent,Country,Capital,Latitude,Longditude,Percent_of_Health_Spending,Percent_of_GDP,USD_per_Capita,Total_Spending_in_Millions_USD
Years,,,,,,,,,
1971,Oceania,AUS,Canberra,-35.266667,149.133333,15.992,0.727,35.720,462.11
1972,Oceania,AUS,Canberra,-35.266667,149.133333,15.091,0.686,36.056,475.11
1973,Oceania,AUS,Canberra,-35.266667,149.133333,15.117,0.681,39.871,533.47
1974,Oceania,AUS,Canberra,-35.266667,149.133333,14.771,0.755,47.559,652.65
1975,Oceania,AUS,Canberra,-35.266667,149.133333,11.849,0.682,47.561,660.76
...,...,...,...,...,...,...,...,...,...
1997,Oceania,NZL,Wellington,-41.300000,174.783333,14.355,1.019,194.962,737.21
2004,Oceania,NZL,Wellington,-41.300000,174.783333,10.767,0.851,213.402,872.28
2005,Oceania,NZL,Wellington,-41.300000,174.783333,10.697,0.885,227.251,939.43
2006,Oceania,NZL,Wellington,-41.300000,174.783333,11.308,0.976,271.073,1134.33
2007,Oceania,NZL,Wellington,-41.300000,174.783333,10.394,0.865,254.188,1073.64

In [ ]:
Oceania = Pharma1.loc[Pharma1["Continent"] == "Oceania"]

In [ ]:
import dash
import dash_core_components as dcc
import dash_html_components as html
import pandas as pd
import plotly.express as px
ecom_sales = pd.read_csv('/usr/local/share/datasets/ecom_sales.csv')
ecom_line = ecom_sales.groupby(['Year-Month','Country'])['OrderValue'].agg('sum').reset_index(name='Total Sales ($)')
ecom_bar = ecom_sales.groupby('Country')['OrderValue'].agg('sum').reset_index(name='Total Sales ($)')
line_graph = px.line(data_frame=ecom_line, x='Year-Month', y='Total Sales ($)', title='Total Sales by Month', color='Country')
bar_graph = px.bar(data_frame=ecom_bar, x='Total Sales ($)', y='Country', orientation='h',title='Total Sales by Country')

# Create the Dash app
app = ____.____(__name__)

# Set up the layout using an overall div
app.layout = html.____(
    ____=[
  # Add a H1
  html.____(____),
  # Add both graphs
  ____.____(id='line_graph', figure=____),
  ____.____(id='bar_graph', figure=____)
  ])

if __name__ == '__main__':
    app.run_server(debug=True)